:root {
    --primary-font: "Rubik", sans-serif;
    --dark-gray: #4a4a4a;
    --aqua: #3CDBC0;
    --white: #FFFFFF;
}

body {
    background-color: var(--aqua);
    font-family: var(--primary-font);
}

.header {
    width: 100%;
    background-color: var(--white);
}

.logo {
    width: 155px;
}

.menu {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
}

.main-title {
    font-size: 30px;
    color: var(--white);
    text-align: center;

}